.nav {
  display: flex;
  width: 100%;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  top: 0;
  background-color: black;
  border-bottom: 0.1rem solid black;
}

.nav > .nav-menu {
  text-transform: uppercase;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.50rem;
}

.nav > .nav-menu > a {
  margin: 1rem;
  color: red;
}

.nav > .nav-menu > a > :hover {
  color: white;
}

.nav > .nav-login > button{
    padding: 0.25rem 2rem;
    cursor: pointer;
    background-color: red;
    border-radius: 20%;
}

.nav > .nav-login > button:hover{
  background-color: black;
  color: white;
  transition: all;
}